{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{% static '/favicon4.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<title>{{user_profile.user.username}} settings | Redline</title>
</head>
<body style = "overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class = "d-flex text-white me-5 fs-5 text-normal align-items-center">
                <a href = "/" class = "user-select-none text-decoration-none text-white">
                    <img src = "{%  static '/favicon4.ico' %}" href="/" width = "40" height = "40" class = "mx-2">
                    Redline
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <div class = "navbar-nav mx-auto">
                    <form class = "ms-5 d-flex">
                        <button class = "btn btn-primary me-2 border border-info border-3" type = "submit">Add Post</button>
                    </form>
                    <form class = "d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light border border-3" type="submit">Search</button>
                    </form>
                </div>
                <div class="dropdown d-flex align-items-center">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="#">Explore</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="#">Tiers</a>
                        </li>
                    </ul>
                    <a href id = "imageDropdown" data-bs-toggle = "dropdown" class = "ms-3 me-2">
                        <img src = "{{ user_profile.profile_image.url }}" height = "40" width = "40" class = "rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="imageDropdown">
                        <li><a class="dropdown-item" href="/profile/{{user_profile}}">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<div>
    <div class = "d-flex">
        <a class = "text-dark link-underline link-underline-opacity-0 inline-block display-6 mt-4 ms-5" href = "/">Home / </p>
        <a class = "text-dark link-underline link-underline-opacity-0 inline-block display-6 mt-4 ms-3" href = "/settings">Settings</a>
    </div>
    <hr class = "my-4 border-secondary">
    <form action = "" method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <div class = "row">
            <div class = "col-5 mx-5 px-5">
                <div class = "display-5 fs-3 mb-4">Change your profile picture</div>
                <div class="container ms-4 border border-dark" style="width: 300px; height: 300px; background-color: black; display: flex; justify-content: center; align-items: center;">
                    <img src="{{user_profile.profile_image.url}}" alt="Card image cap" style="max-width: 300px; max-height: 300px; object-fit: contain;">
                </div>
                <div class="text-start ps-4 mt-3">
                    <input type="file" name="profile_image" id="img" style="display:none;" value = "">
                    <label class = "btn btn-primary border border-shadow px-4 pt-2 pb-2" for="img">Click here to upload profile picture</label>
                </div>
            </div>
            <div class = "col">
                <div class = "vr" style = "height: 425px;">
                </div>
            </div>
            <div class = "col-5 mx-5 text-center">
                <div class = "col">
                    <p class = "display-5 fs-3 mb-4 text-start">Change bio</p>
                    <textarea class = "form-control" rows = "3" name = "bio">{{ user_profile.bio }}</textarea>
                </div>
            </div>
        </div>
        <hr class = "my-4 border-secondary">
        <div class = "d-flex justify-content-center col me-5 pe-3">
            <a href = "/settings"><button type = "submit" class = "row btn btn-primary mx-3" style = "width: 100px;">Submit</button></a>
            <a href = "/settings" class = "row btn btn-danger" style = "width: 100px;">Discard</a>
        </div>
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>